<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <h1 class="management-header">Account Management</h1>
    

    <main>
        <h1>Account Management</h1>

<!-- Greet the client by first name -->
<h2>Welcome <%= account_firstname %></h2>

<!-- Update Account Information Link -->
<a href="/account/update/<%= account_id %>">Update Account Information</a>

  <!-- My Favorites Button -->
  <a href="/favorites" class="favorites-button">My Favorites</a>

<!-- Conditional rendering for Inventory Management section -->
<% if (account_type === 'Employee' || account_type === 'Admin') { %>
    <h3>Inventory Management</h3>
    <p><a href="/inv">Access Inventory Management</a></p>
<% } %>

    </main>

</body>
</html>
