<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <div id=""wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>
    
            <main>
                <% if (loggedin) { %>
                    <li><a href="/wishlist">My Wishlist</a></li>
                  <% } %>
                  
            </main>
        
            <%- include('../partials/footer') %>
        </div>
</body>
</html>

