<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>
        <h1>Inventory Management</h1>
        <% if (messages.notice) { %>
            <div class="flash-message">
                <p><%= messages.notice %></p>
            </div>
        <% } %>
        <ul>
            <li><a href="/inv/add-classification">Add New Classification</a></li>
            <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
        </ul>

        <h2>Manage Inventory</h2>
        <p>Select a classification from the list to see the items belonging to it:</p>
        
        <%- classificationSelect %> <!-- This should render the select dropdown correctly as HTML -->
        
        <table id="inventoryDisplay"></table>
        <noscript>JavaScript must be enabled to use this page.</noscript>
        
        
    </main>
</body>
<script src="/js/inventory.js"></script>
</html>
